.accordion-button {
	background-color: transparent;
	color: unset !important;
}

.accordion-item {
	border-radius: 0 !important;
}

.accordion-button:not(.collapsed),
.accordion-button:hover {
	background-color: #f7f8fa;
}

.accordion-button:not(.collapsed)::after {
	background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-item {
	border-right: none;
	border-left: none;
}
