.embla {
	position: relative;
}

.embla__viewport {
	overflow: hidden;
}

.embla__viewport.is-draggable {
	cursor: grab;
}

.embla__viewport.is-dragging {
	cursor: grabbing;
}

.embla__container {
	display: flex;
}

.embla__prev,
.embla__next {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30px;

	align-items: center;
	display: none;
}

.embla__next {
	right: 10px;
}

.embla__next > .embla__control__button {
	transform: rotateZ(180deg);
}

.embla__prev {
	left: 10px;
}

.embla__control__button {
	background-color: #fff;
	opacity: 0.6;
	border-radius: 5px;
	padding: 10px 6px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity 200ms ease-in-out;
}

.embla__control__button:hover {
	opacity: 1;
}

/* hide carousel control buttons on md screens */

@media screen and (min-width: 768px) {
	.embla__prev,
	.embla__next {
		display: flex;
	}
}

/* remove below styles later */

.browse-brands {
	max-width: 1300px;
	margin-inline: auto;
}

.brand-card {
	flex: 0 0 calc(50% - 0.7rem);
	box-sizing: border-box;
	margin-inline: 0.35rem;
}

.brand-img {
	aspect-ratio: 11 / 16;
	border-radius: 0.45rem;
	overflow: hidden;
	cursor: pointer;
}

.brand-img > img {
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}

.brand-img:hover > img {
	transform: scale(1.05);
}

.brand-name {
	font-weight: bold;
	font-size: 1.2rem;
}

@media screen and (min-width: 500px) {
	.brand-card {
		flex: 0 0 calc(33.33% - 0.7rem);
	}
}

@media screen and (min-width: 768px) {
	.brand-card {
		flex: 0 0 calc(25% - 0.7rem);
	}
}

@media screen and (min-width: 992px) {
	.brand-card {
		flex: 0 0 calc(20% - 0.7rem);
	}
}

@media screen and (min-width: 1200px) {
	.brand-card {
		flex: 0 0 calc(16.66% - 0.7rem);
	}
}
