.brands-container {
	max-width: 1350px;
	margin-inline: auto;
	margin-top: 2rem;
}

.brands-title {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 2.5rem;
	/* margin-block: 1.5rem; */
}

.brand-logos-container {
	/* outline: thin solid red; */
	display: flex;
	overflow-x: scroll;
	width: 80%;
	margin-inline: auto;

	height: 250px;
	/* margin-top: 50px; */
	margin-bottom: 100px;
	scrollbar-color: #f2b28f #e3e3e3;
}

.brand-logos {
	/* width: min(80vw, 1350px); */
	width: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.brand-logos > div {
	width: 100%;
	justify-content: space-evenly;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.brand-logo > img {
	width: 100px;
}

.brand-logos:last-child {
	margin-left: -0.5rem;
}

@media screen and (max-width: 430px) {
	.brand-logos-container {
		height: 300px;
	}
}

@media (min-width: 992px) {
	.brand-logo > img {
		width: 110px;
	}
}

@media (min-width: 1200px) {
	.brand-logo > img {
		width: 120px;
	}
}
