.carousel-container{
    aspect-ratio: 16 / 6;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel{
    height: 100%;
}

.carousel > .carousel-inner{
    height: 100%;
}

.carousel > .carousel-inner > .carousel-item {
    height: 100%;
}

.carousel > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Media queries for bigger screens */

@media screen and (min-width: 1580px) {
    .carousel-container{
        max-width: 1400px;
    }
}


@media screen and (min-width: 1875px) {
    .carousel-container{
        max-width: 1600px;
    }
}


@media screen and (min-width: 2210px) {
    .carousel-container{
        max-width: 2100px;
    }
}