.Magazines-container{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block: 60px;
    height: 500px;
}

.Magazines-section{
    padding: 20px;
    margin: 5px 30px;
    position: relative;
    width: 40%;
}

.Magazines-section > img{
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.Magazines-section > img:hover{
    box-shadow: 0px 28px 38px rgba(155, 73, 73, 0.12);
}

.Magazine-section-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255,178,178);
    background: linear-gradient(198deg, rgba(255,178,178,1) 0%, rgba(241,241,241,1) 44%, rgba(255,255,255,1) 100%);
}

.Magazines-heading{
    position: relative;
    width: 120px;
}

.Magazines-heading-container{
    transform: rotate(270deg);
    position: absolute;
    width: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -43px;
    left: -250px;
}

.Magazines-heading-container > h1{
    font-family: 'Outfit', sans-serif;
    color: #782A2A;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
    position: relative;
    padding: 15px;
}

.Magazines-heading-container > h1 > span{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45%;
    background: #F3E6E3;
    z-index: -1;
}

.Exhibitions-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 5px 10px;
    width: 40%;
}

.Exhibition-Cell {
    overflow: hidden;
    border-radius: 6px;
}

.Exhibition-Cell > img{
    cursor: pointer;
    transition: transform 0.6s;
}

.Exhibition-Cell > img:hover{
    transform: scale(1.15);
}



@media screen and (max-width: 900px) {
    .Magazines-container{
        height: unset;
    }

    .Magazines-heading-container > h1{
        font-size: 30px;
    }

    .Magazines-section{
        margin-right: 0;
        margin-left: 6px;
    }
}

@media screen and (max-width: 830px) {

    .Magazines-section{
        width: 60%;
    }

    .Magazines-container{
        flex-direction: column;
    }

    .Magazines-heading-container{
        transform: rotate(0deg);
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        justify-content: flex-start;
    }
        
    .Magazines-heading{
        position: relative;
        width: 100%;
    }

    .Magazines-heading-container > h1{
        font-size: 40px;
        padding-left: 80px;
    }

    .Magazines-heading-container > h1 > span{
        width: 50%;
    }

    .Exhibitions-section{
        width: 90%;
        margin-inline: auto;
        overflow-y: scroll;
        display: flex;
        margin-right: 0;
    }
    .Magazines-container > ::-webkit-scrollbar {
        width: 5px;  
        height: 5px;
    }
    
    .Magazines-container >   ::-webkit-scrollbar-track {
        background: #E3E3E3;
        border-radius: 15px;
        height: 1px;
    }
    
    .Magazines-container >   ::-webkit-scrollbar-thumb {
        background: #F2B28F;
        border-radius: 10px;
    }
        
    .Exhibition-Cell {
        min-width: 200px;
        /* padding-block: 20px;
        padding-bottom: 100px; */
    }
        
    .Exhibition-Cell > img {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    
    .Exhibitions-section{
        width: 95%;
        margin-right: 0;
        margin-left: 10px;
        overflow-y: hidden;
        padding-bottom: 50px;
    }
}