@import url(../BrandsListing/bs-accordion-reset.css);
@import url(../BrandsListing/accordion-aside.css);
@import url(../BrandsListing/bs-textfield-reset.css);
@import url(../BrandsListing/bs-checkbox-reset.css);

.products-listing {
	padding: 1rem;
	max-width: 1300px;
	margin-inline: auto;
}

.accordion-aside {
	display: none;
}

.card-container-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

/* ------ fav-btn styles ----- */

.fav-btn {
	position: absolute;
	top: 15px;
	right: 15px;

	padding: 0.75rem;
	background-color: white;
	border-radius: 50%;

	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	opacity: 0;
	transition: all 250ms ease-in-out 0.3ms;
}

.fav-btn > img {
	width: 20px;
	height: 20px;
}

.fav-btn > .heart-filled {
	display: none;
}

.fav-btn:hover > .heart-filled {
	display: block;
}

.fav-btn:hover > .heart-outlined {
	display: none;
}

.product-card:hover > .fav-btn {
	opacity: 1;
}

/* ------ Product Card Styles ------- */

.product-card {
	position: relative;
	transition: all ease-in-out 0.3s;
	padding-bottom: 1.5rem;
	border-radius: 0.25rem;
	overflow: hidden;
}

.product-card > .product-details {
	padding: 0.75rem;
}

.product-card:hover {
	box-shadow: 0px 16px 24px rgba(52, 52, 52, 0.15);
	transform: translateY(-5px);
}

.product-card .request-info-btn {
	color: #ff6363;
}

.product-card > .img-wrapper {
	background-color: #f7f8fa;
	aspect-ratio: 3 / 3;
}

.product-card .product-name {
	max-height: 48px;
	overflow-y: hidden;
}

.product-card .new-tag {
	background-color: #fbbf69;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	padding: 0.2rem 0.4rem;
	position: absolute;
	top: 0;
	left: 0;

	border-top-left-radius: 0.25rem;
}

.collections,
.solutions,
.categories {
	max-height: 56vh;
	overflow-y: scroll;
}

/* Bootstrap DropdownButton style reset */

#sort-by-dropdown {
	background-color: transparent;
	color: initial;
	border-color: transparent;
	font-weight: 700;
	text-align: start;
}

#sort-by-dropdown + .dropdown-menu {
	border-radius: 0;
}

#sort-by-dropdown + .dropdown-menu .dropdown-item:active {
	background-color: grey;
}

@media screen and (min-width: 450px) {
	.card-container-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.products-listing {
		display: grid;
		gap: 1rem;
		grid-template-columns: 33.3333% 1fr;
		padding-top: 2rem;
	}

	.accordion-aside {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	.products-listing {
		grid-template-columns: 25% 1fr;
	}

	.card-container-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
