.request-media-kit{
    background-color: #f5f4f4;
    padding-block: 50px;
}

.request-media-kit-details{
    text-align: center;
    padding-inline: 1.5rem;
}

.request-media-kit-details > p {
    font-size: 18px;
}
.request-medit-kit-form{
    text-align: center;
    padding-inline: 40px;
}

.request-media-kit-form-element{
    height: 50px;
    border-radius: 0.275rem;
    border: 1px solid #ffff;
    box-shadow: none !important;
}

.request-media-kit-form-request-element{
    border-radius: 0.275rem;
    border: 1px solid #ffff;
    box-shadow: none !important;
}

.request-media-kit-h4{
    font-size: 20px;
}


@media (min-width:768px){
    .request-medit-kit-form > Form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .form-question{
        grid-column: 1/3;
    }
    .request-media-kit-form-checkbox{
        float:right !important;
        padding-inline: 140px;
        margin: auto !important;
    }
    .request-media-kit-form-button{
        margin: auto;
        grid-column: 1/3;
    }
    
}

@media (min-width:1024px){
    .request-media-kit{
        padding-inline: 100px;
    }

    .request-media-kit-form-checkbox{
        float:right !important;
        padding-inline: 160px;
        margin: auto !important;
    }
    .request-media-kit-form-button{
        margin: auto;
        grid-column: 1/3;
    }
}

@media (min-width:1440px){
    .request-media-kit{
        padding-inline: 400px;
    }

    .request-media-kit-form-checkbox{
        float:right !important;
        padding-inline: 100px !important;
        margin: auto !important;
    }

    .request-media-kit-form-button{
        margin: auto;
        grid-column: 1/3;
    }
}